In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('historical_data.csv')
print(df.head(3))

   transaction_id transaction_date transaction_time  transaction_qty store_id  \
0               1       2024-01-01         07:06:11                2      ST2
1               2       2024-01-01         07:08:56                2      ST2
2               3       2024-01-01         07:14:04                2      ST2

   product_id  unit_price
0          32         3.0
1          57         3.1
2          59         4.5

In [71]:
df['transaction_date'] = pd.to_datetime(
    df['transaction_date'], format='%Y-%m-%d')

In [72]:
qunatity_sum_df = df.groupby(['store_id', 'product_id', 'transaction_date']).agg({
    "transaction_qty": "sum"}).reset_index()
qunatity_sum_df.to_csv('quantity_sum.csv', index=False)

In [73]:
quntity_sum_sorted_by_date_df = qunatity_sum_df.sort_values(['transaction_date', 'store_id', 'product_id']).reset_index(drop=True)
quntity_sum_sorted_by_date_df = quntity_sum_sorted_by_date_df.reindex(
    ['transaction_date', 'store_id', 'product_id', 'transaction_qty'], axis=1)
quntity_sum_sorted_by_date_df.to_csv('quntity_sum_sorted_by_date.csv', index=False)

In [74]:
# Create a DataFrame with all combinations of dates, store-ids, and product_ids
all_combinations = pd.DataFrame(
    index=pd.MultiIndex.from_product([
        pd.date_range(start='2024-01-01', end='2024-05-31'),
        ['ST1', 'ST2', 'ST3'],
        range(1, 88)  # product_ids from 1 to 87
    ], names=['transaction_date', 'store_id', 'product_id'])
).reset_index()

In [75]:
# Merge with the original DataFrame
quntity_sum_sorted_by_date_complete_df = pd.merge(
    all_combinations,
    quntity_sum_sorted_by_date_df,
    on=['transaction_date', 'store_id', 'product_id'],
    how='left'
)

# Fill missing values
quntity_sum_sorted_by_date_complete_df['transaction_qty'].fillna(
    0, inplace=True)
# merged_df['transaction_id'].apply(lambda x: [] if pd.isnull(x) else x)

In [76]:
all_combinations

      transaction_date store_id  product_id
0           2024-01-01      ST1           1
1           2024-01-01      ST1           2
2           2024-01-01      ST1           3
3           2024-01-01      ST1           4
4           2024-01-01      ST1           5
...                ...      ...         ...
39667       2024-05-31      ST3          83
39668       2024-05-31      ST3          84
39669       2024-05-31      ST3          85
39670       2024-05-31      ST3          86
39671       2024-05-31      ST3          87

[39672 rows x 3 columns]

In [79]:
# Create new feature column 'day_of_week'
quntity_sum_sorted_by_date_complete_df['day_of_week'] = quntity_sum_sorted_by_date_complete_df['transaction_date'].dt.dayofweek
print(quntity_sum_sorted_by_date_complete_df.head(3))
quntity_sum_sorted_by_date_complete_df.to_csv(
    'quntity_sum_sorted_by_date_complete.csv', index=False)

  transaction_date store_id  product_id  transaction_qty  day_of_week
0       2024-01-01      ST1           1              0.0            0
1       2024-01-01      ST1           2              0.0            0
2       2024-01-01      ST1           3              0.0            0

In [57]:
# unique_records = df[['store_id', 'product_id']].drop_duplicates().sort_values(['store_id', 'product_id']).reset_index(drop=True)
# print(unique_records[:])
# unique_records.to_csv('sorted.csv', index=False)

In [58]:
# grouped_by_day = df.groupby(['store_id', 'product_id', 'transaction_date']).sum(
#     "transaction_qty")
# grouped_by_day.to_csv('grouped.csv', index=False)

In [59]:
# grouped_by_day_2 = df.groupby(['transaction_date', 'store_id', 'product_id' ]).agg({
#     "transaction_qty": "sum",
#     "transaction_id": list
# }).reset_index()

# grouped_by_day_2.to_csv('grouped_2.csv', index=False)

In [80]:
unique_dates = quntity_sum_sorted_by_date_complete_df[[
    'transaction_date']].drop_duplicates().values

In [81]:
for date in unique_dates:
    records = quntity_sum_sorted_by_date_complete_df[(quntity_sum_sorted_by_date_complete_df['transaction_date'] == date[0])]

    print(records)
    records.to_csv('record_1.csv', index=False)
    # insert data to model here
    # break



    # print(store_id, product_id)



    # print(records.loc[:, ['transaction_qty']])



    # Now 'records' is a DataFrame containing all records for the current 'store_id', 'product_id' pair



    # You can now convert 'records' into a suitable format and feed it into your RNN

    transaction_date store_id  product_id  transaction_qty  day_of_week
0         2024-01-01      ST1           1              0.0            0
1         2024-01-01      ST1           2              0.0            0
2         2024-01-01      ST1           3              0.0            0
3         2024-01-01      ST1           4              0.0            0
4         2024-01-01      ST1           5              0.0            0
..               ...      ...         ...              ...          ...
256       2024-01-01      ST3          83              0.0            0
257       2024-01-01      ST3          84              0.0            0
258       2024-01-01      ST3          85              0.0            0
259       2024-01-01      ST3          86              0.0            0
260       2024-01-01      ST3          87              3.0            0

[261 rows x 5 columns]
    transaction_date store_id  product_id  transaction_qty  day_of_week
261       2024-01-02      ST1           1              0.0            1
262       2024-01-02      ST1           2              0.0            1
263       2024-01-02      ST1           3              0.0            1
264       2024-01-02      ST1           4              0.0            1
265       2024-01-02      ST1           5              0.0            1
..               ...      ...         ...              ...          ...
517       2024-01-02      ST3          83              0.0            1
518       2024-01-02      ST3          84              0.0            1
519       2024-01-02      ST3          85              0.0            1
520       2024-01-02      ST3          86              0.0            1
521       2024-01-02      ST3          87              8.0            1

[261 rows x 5 columns]
    transaction_date store_id  product_id  transaction_qty  day_of_week
522       2024-01-03      ST1           1              0.0            2
523       2024-01-03      ST1           2              0.0            2
524       2024-01-03      ST1           3              0.0            2
525       2024-01-03      ST1           4              0.0            2
526       2024-01-03      ST1           5              0.0            2
..               ...      ...         ...              ...          ...
778       2024-01-03      ST3          83              0.0            2
779       2024-01-03      ST3          84              0.0            2
780       2024-01-03      ST3          85              0.0            2
781       2024-01-03      ST3          86              0.0            2
782       2024-01-03      ST3          87              7.0            2

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
783        2024-01-04      ST1           1              0.0            3
784        2024-01-04      ST1           2              0.0            3
785        2024-01-04      ST1           3              0.0            3
786        2024-01-04      ST1           4              0.0            3
787        2024-01-04      ST1           5              0.0            3
...               ...      ...         ...              ...          ...
1039       2024-01-04      ST3          83              0.0            3
1040       2024-01-04      ST3          84              0.0            3
1041       2024-01-04      ST3          85              0.0            3
1042       2024-01-04      ST3          86              0.0            3
1043       2024-01-04      ST3          87              7.0            3

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
1044       2024-01-05      ST1           1              0.0            4
1045       2024-01-05      ST1           2              0.0            4
1046       2024-01-05      ST1           3              0.0            4
1047       2024-01-05      ST1           4              0.0            4
1048       2024-01-05      ST1           5              0.0            4
...               ...      ...         ...              ...          ...
1300       2024-01-05      ST3          83              0.0            4
1301       2024-01-05      ST3          84              0.0            4
1302       2024-01-05      ST3          85              0.0            4
1303       2024-01-05      ST3          86              0.0            4
1304       2024-01-05      ST3          87              6.0            4

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
1305       2024-01-06      ST1           1              0.0            5
1306       2024-01-06      ST1           2              0.0            5
1307       2024-01-06      ST1           3              0.0            5
1308       2024-01-06      ST1           4              0.0            5
1309       2024-01-06      ST1           5              0.0            5
...               ...      ...         ...              ...          ...
1561       2024-01-06      ST3          83              0.0            5
1562       2024-01-06      ST3          84              0.0            5
1563       2024-01-06      ST3          85              0.0            5
1564       2024-01-06      ST3          86              0.0            5
1565       2024-01-06      ST3          87             10.0            5

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
1566       2024-01-07      ST1           1              0.0            6
1567       2024-01-07      ST1           2              0.0            6
1568       2024-01-07      ST1           3              0.0            6
1569       2024-01-07      ST1           4              0.0            6
1570       2024-01-07      ST1           5              0.0            6
...               ...      ...         ...              ...          ...
1822       2024-01-07      ST3          83              0.0            6
1823       2024-01-07      ST3          84              5.0            6
1824       2024-01-07      ST3          85              0.0            6
1825       2024-01-07      ST3          86              0.0            6
1826       2024-01-07      ST3          87              0.0            6

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
1827       2024-01-08      ST1           1              1.0            0
1828       2024-01-08      ST1           2              0.0            0
1829       2024-01-08      ST1           3              1.0            0
1830       2024-01-08      ST1           4              0.0            0
1831       2024-01-08      ST1           5              0.0            0
...               ...      ...         ...              ...          ...
2083       2024-01-08      ST3          83              0.0            0
2084       2024-01-08      ST3          84              7.0            0
2085       2024-01-08      ST3          85              0.0            0
2086       2024-01-08      ST3          86              0.0            0
2087       2024-01-08      ST3          87              3.0            0

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
2088       2024-01-09      ST1           1              0.0            1
2089       2024-01-09      ST1           2              0.0            1
2090       2024-01-09      ST1           3              0.0            1
2091       2024-01-09      ST1           4              1.0            1
2092       2024-01-09      ST1           5              1.0            1
...               ...      ...         ...              ...          ...
2344       2024-01-09      ST3          83              0.0            1
2345       2024-01-09      ST3          84              0.0            1
2346       2024-01-09      ST3          85              0.0            1
2347       2024-01-09      ST3          86              0.0            1
2348       2024-01-09      ST3          87              4.0            1

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
2349       2024-01-10      ST1           1              0.0            2
2350       2024-01-10      ST1           2              0.0            2
2351       2024-01-10      ST1           3              0.0            2
2352       2024-01-10      ST1           4              1.0            2
2353       2024-01-10      ST1           5              0.0            2
...               ...      ...         ...              ...          ...
2605       2024-01-10      ST3          83              0.0            2
2606       2024-01-10      ST3          84              5.0            2
2607       2024-01-10      ST3          85              0.0            2
2608       2024-01-10      ST3          86              0.0            2
2609       2024-01-10      ST3          87              9.0            2

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
2610       2024-01-11      ST1           1              0.0            3
2611       2024-01-11      ST1           2              0.0            3
2612       2024-01-11      ST1           3              0.0            3
2613       2024-01-11      ST1           4              0.0            3
2614       2024-01-11      ST1           5              0.0            3
...               ...      ...         ...              ...          ...
2866       2024-01-11      ST3          83              0.0            3
2867       2024-01-11      ST3          84              7.0            3
2868       2024-01-11      ST3          85              0.0            3
2869       2024-01-11      ST3          86              0.0            3
2870       2024-01-11      ST3          87              2.0            3

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
2871       2024-01-12      ST1           1              0.0            4
2872       2024-01-12      ST1           2              0.0            4
2873       2024-01-12      ST1           3              0.0            4
2874       2024-01-12      ST1           4              1.0            4
2875       2024-01-12      ST1           5              0.0            4
...               ...      ...         ...              ...          ...
3127       2024-01-12      ST3          83              0.0            4
3128       2024-01-12      ST3          84             11.0            4
3129       2024-01-12      ST3          85              0.0            4
3130       2024-01-12      ST3          86              0.0            4
3131       2024-01-12      ST3          87              8.0            4

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
3132       2024-01-13      ST1           1              0.0            5
3133       2024-01-13      ST1           2              0.0            5
3134       2024-01-13      ST1           3              0.0            5
3135       2024-01-13      ST1           4              0.0            5
3136       2024-01-13      ST1           5              0.0            5
...               ...      ...         ...              ...          ...
3388       2024-01-13      ST3          83              0.0            5
3389       2024-01-13      ST3          84              5.0            5
3390       2024-01-13      ST3          85              0.0            5
3391       2024-01-13      ST3          86              0.0            5
3392       2024-01-13      ST3          87             15.0            5

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
3393       2024-01-14      ST1           1              0.0            6
3394       2024-01-14      ST1           2              0.0            6
3395       2024-01-14      ST1           3              0.0            6
3396       2024-01-14      ST1           4              1.0            6
3397       2024-01-14      ST1           5              1.0            6
...               ...      ...         ...              ...          ...
3649       2024-01-14      ST3          83              0.0            6
3650       2024-01-14      ST3          84              6.0            6
3651       2024-01-14      ST3          85              0.0            6
3652       2024-01-14      ST3          86              0.0            6
3653       2024-01-14      ST3          87              3.0            6

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
3654       2024-01-15      ST1           1              1.0            0
3655       2024-01-15      ST1           2              1.0            0
3656       2024-01-15      ST1           3              0.0            0
3657       2024-01-15      ST1           4              1.0            0
3658       2024-01-15      ST1           5              0.0            0
...               ...      ...         ...              ...          ...
3910       2024-01-15      ST3          83              0.0            0
3911       2024-01-15      ST3          84              4.0            0
3912       2024-01-15      ST3          85              0.0            0
3913       2024-01-15      ST3          86              0.0            0
3914       2024-01-15      ST3          87              7.0            0

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
3915       2024-01-16      ST1           1              0.0            1
3916       2024-01-16      ST1           2              0.0            1
3917       2024-01-16      ST1           3              0.0            1
3918       2024-01-16      ST1           4              0.0            1
3919       2024-01-16      ST1           5              1.0            1
...               ...      ...         ...              ...          ...
4171       2024-01-16      ST3          83              0.0            1
4172       2024-01-16      ST3          84              4.0            1
4173       2024-01-16      ST3          85              0.0            1
4174       2024-01-16      ST3          86              0.0            1
4175       2024-01-16      ST3          87             12.0            1

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
4176       2024-01-17      ST1           1              0.0            2
4177       2024-01-17      ST1           2              0.0            2
4178       2024-01-17      ST1           3              0.0            2
4179       2024-01-17      ST1           4              1.0            2
4180       2024-01-17      ST1           5              0.0            2
...               ...      ...         ...              ...          ...
4432       2024-01-17      ST3          83              0.0            2
4433       2024-01-17      ST3          84              4.0            2
4434       2024-01-17      ST3          85              0.0            2
4435       2024-01-17      ST3          86              0.0            2
4436       2024-01-17      ST3          87              7.0            2

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
4437       2024-01-18      ST1           1              0.0            3
4438       2024-01-18      ST1           2              2.0            3
4439       2024-01-18      ST1           3              1.0            3
4440       2024-01-18      ST1           4              0.0            3
4441       2024-01-18      ST1           5              0.0            3
...               ...      ...         ...              ...          ...
4693       2024-01-18      ST3          83              1.0            3
4694       2024-01-18      ST3          84              7.0            3
4695       2024-01-18      ST3          85              0.0            3
4696       2024-01-18      ST3          86              0.0            3
4697       2024-01-18      ST3          87             10.0            3

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
4698       2024-01-19      ST1           1              0.0            4
4699       2024-01-19      ST1           2              0.0            4
4700       2024-01-19      ST1           3              2.0            4
4701       2024-01-19      ST1           4              0.0            4
4702       2024-01-19      ST1           5              0.0            4
...               ...      ...         ...              ...          ...
4954       2024-01-19      ST3          83              0.0            4
4955       2024-01-19      ST3          84              2.0            4
4956       2024-01-19      ST3          85              0.0            4
4957       2024-01-19      ST3          86              0.0            4
4958       2024-01-19      ST3          87             11.0            4

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
4959       2024-01-20      ST1           1              1.0            5
4960       2024-01-20      ST1           2              0.0            5
4961       2024-01-20      ST1           3              0.0            5
4962       2024-01-20      ST1           4              1.0            5
4963       2024-01-20      ST1           5              0.0            5
...               ...      ...         ...              ...          ...
5215       2024-01-20      ST3          83              1.0            5
5216       2024-01-20      ST3          84              5.0            5
5217       2024-01-20      ST3          85              0.0            5
5218       2024-01-20      ST3          86              0.0            5
5219       2024-01-20      ST3          87              4.0            5

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
5220       2024-01-21      ST1           1              0.0            6
5221       2024-01-21      ST1           2              1.0            6
5222       2024-01-21      ST1           3              1.0            6
5223       2024-01-21      ST1           4              1.0            6
5224       2024-01-21      ST1           5              0.0            6
...               ...      ...         ...              ...          ...
5476       2024-01-21      ST3          83              1.0            6
5477       2024-01-21      ST3          84              5.0            6
5478       2024-01-21      ST3          85              0.0            6
5479       2024-01-21      ST3          86              0.0            6
5480       2024-01-21      ST3          87              3.0            6

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
5481       2024-01-22      ST1           1              0.0            0
5482       2024-01-22      ST1           2              0.0            0
5483       2024-01-22      ST1           3              0.0            0
5484       2024-01-22      ST1           4              0.0            0
5485       2024-01-22      ST1           5              0.0            0
...               ...      ...         ...              ...          ...
5737       2024-01-22      ST3          83              0.0            0
5738       2024-01-22      ST3          84              2.0            0
5739       2024-01-22      ST3          85              0.0            0
5740       2024-01-22      ST3          86              0.0            0
5741       2024-01-22      ST3          87              7.0            0

[261 rows x 5 columns]
     transaction_date store_id  product_id  transaction_qty  day_of_week
5742       2024-01-23      ST1           1              0.0            1
5743       2024-01-23      ST1           2              0.0            1