In [132]:
import pandas as pd

In [133]:
df = pd.read_csv('historical_data.csv')
print(df.head(3))

   transaction_id transaction_date transaction_time  transaction_qty store_id  \
0               1       2024-01-01         07:06:11                2      ST2
1               2       2024-01-01         07:08:56                2      ST2
2               3       2024-01-01         07:14:04                2      ST2

   product_id  unit_price
0          32         3.0
1          57         3.1
2          59         4.5

In [134]:
df['transaction_date'] = pd.to_datetime(
    df['transaction_date'], format='%Y-%m-%d')

In [135]:
qunatity_sum_df = df.groupby(['store_id', 'product_id', 'transaction_date']).agg({
    "transaction_qty": "sum"}).reset_index()
qunatity_sum_df.to_csv('quantity_sum.csv', index=False)

In [136]:
quntity_sum_sorted_by_date_df = qunatity_sum_df.sort_values(['transaction_date', 'store_id', 'product_id']).reset_index(drop=True)
quntity_sum_sorted_by_date_df = quntity_sum_sorted_by_date_df.reindex(
    ['transaction_date', 'store_id', 'product_id', 'transaction_qty'], axis=1)
quntity_sum_sorted_by_date_df.to_csv('quntity_sum_sorted_by_date.csv', index=False)

In [137]:
# Create a DataFrame with all combinations of dates, store-ids, and product_ids
all_combinations = pd.DataFrame(
    index=pd.MultiIndex.from_product([
        pd.date_range(start='2024-01-01', end='2024-05-31'),
        ['ST1', 'ST2', 'ST3'],
        range(1, 88)  # product_ids from 1 to 87
    ], names=['transaction_date', 'store_id', 'product_id'])
).reset_index()

In [138]:
# Merge with the original DataFrame
quntity_sum_sorted_by_date_complete_df = pd.merge(
    all_combinations,
    quntity_sum_sorted_by_date_df,
    on=['transaction_date', 'store_id', 'product_id'],
    how='left'
)

# Fill missing values
quntity_sum_sorted_by_date_complete_df['transaction_qty'].fillna(
    0, inplace=True)
# merged_df['transaction_id'].apply(lambda x: [] if pd.isnull(x) else x)

In [139]:
all_combinations

      transaction_date store_id  product_id
0           2024-01-01      ST1           1
1           2024-01-01      ST1           2
2           2024-01-01      ST1           3
3           2024-01-01      ST1           4
4           2024-01-01      ST1           5
...                ...      ...         ...
39667       2024-05-31      ST3          83
39668       2024-05-31      ST3          84
39669       2024-05-31      ST3          85
39670       2024-05-31      ST3          86
39671       2024-05-31      ST3          87

[39672 rows x 3 columns]

In [169]:
# Create new feature column 'day_of_week'
quntity_sum_sorted_by_date_complete_df['day_of_week'] = quntity_sum_sorted_by_date_complete_df['transaction_date'].dt.dayofweek
print(quntity_sum_sorted_by_date_complete_df.head(3))
quntity_sum_sorted_by_date_complete_df['store_id'] = quntity_sum_sorted_by_date_complete_df['store_id'].apply(
    lambda x: int(x[2:]))
print(quntity_sum_sorted_by_date_complete_df.head(3))
quntity_sum_sorted_by_date_complete_df.to_csv(
    'quntity_sum_sorted_by_date_complete.csv', index=False)

  transaction_date store_id  product_id  transaction_qty  day_of_week
0       2024-01-01      ST1           1              0.0            0
1       2024-01-01      ST1           2              0.0            0
2       2024-01-01      ST1           3              0.0            0
  transaction_date  store_id  product_id  transaction_qty  day_of_week
0       2024-01-01         1           1              0.0            0
1       2024-01-01         1           2              0.0            0
2       2024-01-01         1           3              0.0            0

In [141]:
# unique_records = df[['store_id', 'product_id']].drop_duplicates().sort_values(['store_id', 'product_id']).reset_index(drop=True)
# print(unique_records[:])
# unique_records.to_csv('sorted.csv', index=False)

In [142]:
# grouped_by_day = df.groupby(['store_id', 'product_id', 'transaction_date']).sum(
#     "transaction_qty")
# grouped_by_day.to_csv('grouped.csv', index=False)

In [143]:
# grouped_by_day_2 = df.groupby(['transaction_date', 'store_id', 'product_id' ]).agg({
#     "transaction_qty": "sum",
#     "transaction_id": list
# }).reset_index()

# grouped_by_day_2.to_csv('grouped_2.csv', index=False)